[Oo]bj/
[Bb]in/
TestResults/
*.sln.ide/
_ReSharper.*/
PublishProfiles/
.vs/
bower_components/
node_modules/
**/wwwroot/lib/
launchSettings.json
debugSettings.json
project.lock.json
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
.settings
*.sln.ide
node_modules
**/[Cc]ompiler/[Rr]esources/**/*.js
.vscode/
*.log
log.json
log.*.json
*.orig
Library/
.tools/
.artifacts/
.nuget/
.env
